[*.cs]

# SA1010: Opening square brackets should be spaced correctly
dotnet_diagnostic.SA1010.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# VSTHRD200: Use "Async" suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = suggestion

# VSTHRD100: Avoid async void methods
dotnet_diagnostic.VSTHRD100.severity = suggestion

# SA1008: Opening parenthesis should be spaced correctly
dotnet_diagnostic.SA1008.severity = suggestion
